#FireFly
node_modules/

#FireFly Server
apps/node-server/node_modules/

#Telegram App
apps/telegram-app/node_modules/

#Yandex Server
apps/yandex-server/node_modules/

#Mobile App
mobile-app/

#Devices Build
devices-build/